@{
    ViewData["Title"] = "Home Page";
}

@model HomeViewModel

<div class="text-center">
    <h1 class="display-4">Website Content Management System</h1>
    <p class="text-1">For <a href="https://antonljunggren.se">antonljunggren.se</a>.</p>
</div>
<div>
    <h4>Photographs</h4>
    
    <div class="d-flex justify-content-start flex-wrap">
        @foreach(var photo in Model.photographs)
        {
            <div class="text-center m-3">
                <a asp-controller="Home" asp-action="EditPhotograph" asp-route-photoId="@photo.Id">
                    <img height="300" src="@Url.Action("GetPreview", "Home", new{photoId=photo.Id})" alt="@photo.Title" />
                    <p>@photo.Title @(photo.IsPublished ? "" : "- Not published")</p>
                </a>
            </div>
        }
    </div>

    <form asp-controller="Home" asp-action="AddPhotograph"
          method="post"
          enctype="multipart/form-data"
          class="py-5 form form-group">
        <h5>Add Photograph</h5>
        <div class="my-3">
            <label for="imageFile" class="form-label">Source Image</label>
            <input class="form-control" type="file" name="imageFile" accept="image/jpeg" maxlength="600000000" />
        </div>

        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="title" class="form-control" />
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input name="description" class="form-control" />
        </div>

        <div class="mb-3">
            <label for="filmUsed" class="form-label">Film Used</label>
            <input name="filmUsed" class="form-control" />
        </div>

        <div class="mb-3">
            <label for="cameraUsed" class="form-label">Camera Used</label>
            <input name="cameraUsed" class="form-control" />
        </div>

        <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input name="country" class="form-control" />
        </div>

        <div class="mb-3">
            <label for="province" class="form-label">Province</label>
            <input name="province" class="form-control" />
        </div>

        <div class="mb-3">
            <label for="city" class="form-label">City</label>
            <input name="city" class="form-control" />
        </div>

        <div class="mb-3">
            <label for="dateTaken" class="form-label">Date taken</label>
            <input name="dateTaken" type="date" class="form-control" />
        </div>

        <button class="btn btn-primary" type="submit">Save Photograph</button>
    </form>
</div>
